@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
*{
  margin: 0;
  padding: 0;
  background-origin: padding-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  margin: 0 10px
}

/* Add this CSS to your global stylesheet or in a CSS module */
.slick-prev, .slick-next {
  z-index: 2; /* Ensure arrows are on top of other elements */
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5); /* Add background color for better visibility */
  border-radius: 50%; /* Make them circular */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev:before, .slick-next:before {
  color: white; /* Arrow color */
  font-size: 20px; /* Increase the size of the arrow */
}

.slick-prev:hover, .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
}
